body {
	background-color:#242424;
	margin-top: 200px;
  	margin-bottom: 200px;
  	margin-right: 250px;
  	margin-left: 250px;
	font-size: 30px;
	max-width: 100%;
	font-family: "Funnel Display", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 300;
	  font-style: normal;
}
.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.funnel-display-<uniquifier> {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
header {
	width: 75vw;
	font-family: 'Russo One', sans-serif;
}
main {
	width: 75vw;
	margin: 25px auto;
	display: flow-root;
}
.col {
	width: 50%;
	float: left;
	padding: 0.25;
}
h1 {
	color: #FFFBEC;
	font-size: 100px;
}
h2 {
	color: #FFFBEC;
}
h3, p, ul, il, ol {
	color: #FFFBEC;
	font-family: 'Funnel Display', sans-serif;
}
a:hover{
	color: #000000;
	background-color: #E2D3A0;
}
a{
	color: #E2D3A0;
	text-decoration: none;
}
@media screen and (max-width: 900px) {
	.col {
	width: 100%;
	margin-bottom: 50px;
	}
	h1 {
		color: #0E193A;
		font-size: 70px;
	}
	h2 {
		color: #0E193A;
	}
	h3 {
		color: #0E193A;
	}
	a:hover {
	color: #FFFBEC;
	background-color: #22619D;
	}
	a{
	color: #22619D;
	text-decoration: none;
	}
	h3, p, ul, il, ol {
	color: #FFFBEC;
	font-family: 'Funnel Display', sans-serif;
	}
	body{
		background-color: #FFFBEC;
		margin-top: 50px;
  		margin-bottom: 50px;
  		margin-right: 100px;
  		margin-left: 100px;
	}
}
